@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

/* HEADER */

.barra-nav {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 29px 0 rgba(36, 107, 207, 0.25);
}

.lista-menu {
  display: flex;
  align-items: center;
  margin-right: 4%;
}

li {
  list-style-type: none;
  margin: 1em;
  /*font-size: 1em;*/
}

.menu-hamburguesa {
  display: none;
}

a, a:visited {
  text-decoration: none;
  color: black;
  display: block;
}

/*SECCION PRINCIPAL*/

.seccion-principal {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 5%;
}

.imagen-presentacion {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.imagen-presentacion img {
  width: 100%;
}

.informacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  height: auto;
}

.hola {

 font-size: 2.2em;
  font-weight: bolder;
}

.nombre {
  
font-size: 4.4em;
  font-weight: 900;
  color: #ffcf24;
}

.descripcion {
  margin-bottom: 5%;
  font-size: 1em;
}

.boton-amarillo {
  background-color: #ffcf24;
  padding: 0 2em;
  border-radius: 100px;
  height: 2.5em;
  display: flex;
  align-items: center;
}

/*SECCION-CONOCIMIENTOS*/

.seccion-conocimientos {
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.contenedor-gnrl-conocimientos {
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75%;
}

.content-tarjetas-conocimientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f7fb;
}

.encabezado-seccion {
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;
}

.titulo-seccion {
  font-size: 3.13em;
}

.descripcion-seccion {
  text-align: center;
  max-width: 70%;
}

.tarjeta-conocimiento {
  width: 14em;
  height: 14em;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  background-color: white;
  margin-right: 3%;
  margin-bottom: 3%;
}

/*SECCION-FRASE*/

.seccion-frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffcf24;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 75vh;
}

.fas.fa-quote-right {
  font-size: 6.25em;
  margin-bottom: 50%;
}

.frase {
  width: 80%;
  margin-bottom: 1.25em;
  text-align: center;
  font-size: 1.20em;
}

.autor {
  font-size: 2.50em;
  font-weight: 700;
}

/*SECCION-PROYECTOS*/

.seccion-proyectos{

  padding-top: 25%;

  padding-bottom: 25%;
}


/*FOOTER*/
footer{
  padding-top: 5%;

  padding-bottom: 5%;
  background-color: #ffcf24;

}


/*MEDIA*/

@media(max-width:600px) {
  .menu-hamburguesa {
    display: flex;
  }
  .lista-menu li {
    display: none;
  }
  .seccion-principal {
    flex-direction: column;
    height: auto;
    padding: 1em;
   
  }
  .barra-nav {
    height: 3em;
  }
  .informacion, .imagen-presentacion {
    margin-top: 15%;
    width: 100%;
    align-items: center;
    text-align: center;
  }
/*
  .encabezado-seccion{
    align-items: center;
  }
 .fas.fa-quote-right{
margin-bottom: 25%;
 }
  .seccion-frase {
    height: 50vh;
  }*/
}